.col-ornament {
    position: relative;
    width: 150%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;	
}
.col-new-1 {
  position: relative;
  width: 150%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 80%;
}
hr.new1 {
  width: 60pc;
  border: 2px solid rgb(243, 227, 174);
  border-radius: 5px;
  
}
.cust-body {
    background-color: rgba(250, 249, 249, 0.76);
    /* border: outset; */
    padding-right: 20px;
    padding-left: 20px;
    border-width: 5px;
    border-radius: 10px;
    border-style: groove;
}
.form-row-ornam {
  background-color: #f8fafc;
  border-style: ridge;
  border-radius: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 10px;
  margin-left: -8px;
  margin-bottom: 4px;
  padding-top: 5px;
  padding-left: 5px;
}

.form-row-ornam > .col,
.form-row-ornam > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
.form-row-calculation {
  background-color: rgb(252, 250, 248);
  border-style: ridge;
  border-radius: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.form-row-calculation > .col,
.form-row-calculation > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
.form-row-deposit {
  align-self: right;
  position: relative;
  background-color: aliceblue;
  border-style: ridge;
  border-radius: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 10px;
  margin-left: 5px;
  margin-bottom: 4px;
  padding-top: 15px;
  padding-left: 5px;
}

.form-row-deposit > .col,
.form-row-deposit > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
.hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
    color: black;
  }
  .form-control-input-tag {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    margin-right: -5px;
    background-color: rgb(148, 235, 167);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  table {
    border-collapse: collapse;
    width: 90%;
  }
  
  th, td {
    padding: 4px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }