.col-ornament {
    position: relative;
    width: 150%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;	
}
.cust-body {
    background-color: rgba(196, 245, 200, 0.856);
    /* border: outset; */
    padding-right: 20px;
    padding-left: 20px;
    border-width: 5px;
    border-radius: 10px;
    border-style: groove;
}