<div class="cust-body">
  <div class="d-flex justify-content-lg-center">
    Silver<mat-slide-toggle (change)="slideToggle($event)"></mat-slide-toggle>Gold
  </div>
  <form [formGroup]="custForm" class="form-horizontal">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{pageTitle}}</h3>
        <h4>{{currentDate}}</h4>
        <!-- <h4>{{priceOfGold}}</h4> -->
      </div>
      <div class="form-row">
        <div class="col-md-3 mb-3" [ngClass]="{'has-error' : formErrors.date}">
          <label for="date">Date</label>
          <input type="date" formControlName="date" class="form-control" id="date" placeholder="Date">
          <span class='help-block' *ngIf="formErrors.date">
            {{formErrors.date}}
          </span>
        </div>

        <div class="col-md-8 mb-8" [ngClass]="{'has-error' : formErrors.custName}">
          <label for="custName">Customer Name</label>
          <input type="text" formControlName="custName" class="form-control" id="custName" placeholder="FullName"
            required>
          <span class="help-block" *ngIf="this.custForm.get('custName').errors?.required &&
              this.custForm.get('custName').touched">
            Customer FullName is required
          </span>
        </div>

        <div class="col-md-2 mb-8">
          <label>Relation</label>
          <div>
            <label class="radio-inline">
              <input type="radio" value="S/O" formControlName="relation">S/O
            </label>
            <label class="radio-inline">
              <input type="radio" value="D/O" formControlName="relation">D/O
            </label>
            <label class="radio-inline">
              <input type="radio" value="W/O" formControlName="relation">W/O
            </label>
            <span class="help-block" *ngIf="this.custForm.get('relation').errors?.required &&
              this.custForm.get('relation').touched">
              Relation is required
            </span>
          </div>
        </div>


        <div class="col-md-3 mb-8">
          <label for="relName">Relative Name</label>
          <input type="text" formControlName="relName" class="form-control" id="relName" placeholder="Relative Name">
          <span class="help-block" *ngIf="this.custForm.get('relName').errors?.required &&
              this.custForm.get('relName').touched">
            Relative name is required
          </span>
        </div>

        <div class="col-md-3 mb-8">
          <label for="village">Village</label>
          <input type="text" formControlName="village" class="form-control" id="village" placeholder="village">
          <span class="help-block" *ngIf="this.custForm.get('village').errors?.required &&
              this.custForm.get('village').touched">
            Village Name is required
          </span>
        </div>

        <div class="col-md-3 mb-8">
          <label for="phone">Phone No</label>
          <input type="text" formControlName="phone" class="form-control" id="phone" placeholder="phone">
          <span class="help-block" *ngIf="this.custForm.get('phone').errors?.required &&
              this.custForm.get('phone').touched">
            Phone No is required
          </span>
        </div>
      </div>

      <br />

      <div class="form-column">
        <h3>Ornament Details</h3>
        <!-- <br /> -->
        <div class="col-md-6 mb-8">
          <div class="col-md-offset-2 col-md-4">
            <button type='button' class="btn btn-primary d-flex justify-content-lg-right" (click)="addOrnamentButtonClick()"
              [disabled]="custForm.get('ornaments').invalid" title="Add ornament">
              Add Ornament
            </button>
          </div>
        </div>
      </div>
      <div formArrayName="ornaments">

        <div class="form-row" *ngFor="let ornam of this.custForm.get('ornaments').controls; let i = index"
          formGroupName="{{i}}">
          <br />
          <div class="col-md-2 mb-8">
            <label [attr.for]="'subDate'+i">
              Date
            </label>
            <input type="date" class="form-control" [id]="'subDate'+i" formControlName="subDate">
          </div>
          <br />

          <div class="col-md-2 mb-8">
            <label [attr.for]="'ornament'+i">
              Ornament
            </label>
            <input type="text" class="form-control" [id]="'ornament'+i" formControlName="ornament"
              placeholder="Ring, Chain, etc.." required>
            <span class="help-block" *ngIf="ornam.get('ornament').errors?.required &&
                                                                        ornam.get('ornament').touched">
              Ornament Name is required
            </span>
          </div>

          <div class="col-md-2 mb-3">
            <div class="form-group">
              <label class="col-sm-2 control-label">
                Metal
              </label>
              <div class="row-sm-6">
                <label class="radio-inline">
                  <input type="radio" value="Gold" formControlName="metal">Gold
                </label>
                <label class="radio-inline">
                  <input type="radio" value="Silver" formControlName="metal">Silver
                </label>
              </div>
              <span class="help-block" *ngIf="ornam.get('metal').errors?.required &&
                                                      ornam.get('metal').touched">
                Metal is required
              </span>
            </div>
          </div>

          <div class="col-md-2 mb-8">

            <label [attr.for]="'weight'+i">
              Weight
            </label>
            <input type="number" class="form-control" [id]="'weight'+i" formControlName="weight" placeholder="In grams">
            <span class="help-block" *ngIf="ornam.get('weight').errors?.required &&
                                                ornam.get('weight').touched">
              Weight is required
            </span>
          </div>
          <br />
          <div class="col-md-2 mb-8">
            <label [attr.for]="'rupees'+i">
              Rupees
            </label>

            <input type="number" class="form-control" [id]="'rupees'+i" formControlName="rupees"
              placeholder="In Rupees">
            <span class="help-block" *ngIf="ornam.get('rupees').errors?.required &&
                                          ornam.get('rupees').touched">
              Rupees is required
            </span>
            <br />
          </div>
          <div *ngIf="ornam.get('metal').value == Gold">
          <div class="col-md-2 mb-8">
            <label [attr.for]="'price'+i">
              Gold Price
            </label>
            <input type="number" class="form-control" [id]="'price'+i" formControlName="priceOfMetal"
              placeholder="In Rupees" [ngModel]="goldPrice">
            <br />
          </div>
          </div>
          <div *ngIf="ornam.get('metal').value == Silver">
            <div class="col-md-2 mb-8">
              <label [attr.for]="'price'+i">
                Gold Price
              </label>
              <input type="number" class="form-control" [id]="'price'+i" formControlName="priceOfMetal"
                placeholder="In Rupees" [ngModel]="SilverPrice">
              <br />
            </div>
            </div>
          <!-- <div *ngIf="this.custForm.metal == Silver">
          <div class="col-md-2 mb-8">
            <label [attr.for]="'price'+i">
              Silver Price
            </label>
            <input type="number" class="form-control" [id]="'price'+i" formControlName="priceOfMetal"
              placeholder="In Rupees" [ngModel]="priceOfGold">
            <br />
          </div>
          </div> --> -->
          <div class="col-md-1 mb-8">
            <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <div class="col-md-10 mb-8" *ngIf="custForm.get('ornaments').length>1">
              <button type="button" class="btn-delete" title="delete ornament" (click)="removeOrnamentButtonClick(i)"><i
                  class="fa fa-trash"></i>Delete
              </button>
            </div>
          </div>

        </div>

        <div class="col-md-3 mb-8">
          <div class="col-ornament">
            <br />
            <br />
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
          </div>
        </div>

      </div>

    </div>
  </form>
</div>
<!-- <div>
  Enter the Rate of Interest: 
  <input type="number" id="ROI" [(ngModel)]="InterestRate">
  Rate of Interest is: {{InterestRate}}
</div> -->