<form [formGroup]="custForm" class="form-horizontal">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{pageTitle}}</h3>
    </div>
    <div class="panel-body">
      <div class="form-group row">
        <label for="date" class="col-sm-2 col-form-label">Date</label>
        <div class="col-sm-3">
          <input type="date" formControlName="date" class="form-control" id="date" placeholder="Date"
            (blur)="logValidationErrors()">
        </div>
      </div>

      <div class="form-group row">
        <label for="custName" class="col-sm-2 col-form-label">Customer Name</label>
        <div class="col-sm-5">
          <input type="text" formControlName="custName" class="form-control" id="custName"
            (blur)="logValidationErrors()" placeholder="FullName">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Relation</label>
        <div class="col-sm-8">
          <label class="radio-inline">
            <input type="radio" value="S/O" (blur)="logValidationErrors()" formControlName="relation">S/O
          </label>
          <label class="radio-inline">
            <input type="radio" value="D/O" (blur)="logValidationErrors()" formControlName="relation">D/O
          </label>
          <label class="radio-inline">
            <input type="radio" value="W/O" (blur)="logValidationErrors()" formControlName="relation">W/O
          </label>
        </div>
      </div>

      <div class="form-group row">
        <label for="relName" class="col-sm-2 col-form-label">Relative Name</label>
        <div class="col-sm-5">
          <input type="text" formControlName="relName" class="form-control" id="relName" (blur)="logValidationErrors()"
            placeholder="Relative Name">
        </div>
      </div>

      <div class="form-group row">
        <label for="village" class="col-sm-2 col-form-label">Village</label>
        <div class="col-sm-5">
          <input type="text" formControlName="village" class="form-control" id="village" (blur)="logValidationErrors()"
            placeholder="village">
        </div>
      </div>

      <div class="form-group row">
        <label for="phone" class="col-sm-2 col-form-label">Phone No</label>
        <div class="col-sm-3">
          <input type="text" formControlName="phone" class="form-control" id="phone" (blur)="logValidationErrors()"
            placeholder="phone">
        </div>
      </div>
      <br>
      <br>

      <div class="well">
        <h5>Ornament Details</h5>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-4">
            <button type='button' class="btn btn-primary" (click)="addOrnamentButtonClick()"
              [disabled]="custForm.get('ornaments').invalid">
              Add Ornament
            </button>
          </div>
        </div>

        <!-- <label class="col-sm-2 control-label" for="ornament">
            Ornament
        </label>
        <input type="text" class="form-control" id="ornament" formControlName="ornament" placeholder="Ring, Chain, etc.."> -->

        <div formArrayName="ornaments">
          <hr *ngIf="i>0">
          <div class="col-12" *ngFor="let ornam of custForm.controls.ornaments.controls; let i = index" formGroupName="{{i}}">

            <div class="form-group" >
              <label class="col-sm-2 control-label" [attr.for]="'ornament'+i">
                Ornament
              </label>
              <div class="col-sm-4">
                <input type="text" class="form-control" [id]="'ornament'+i" formControlName="ornament" placeholder="Ring, Chain, etc..">
                <span class="help-block" *ngIf="ornam.get('ornament').errors?.required &&
                                                                  ornam.get('ornament').touched">
                  Ornament Name is required
                </span>
              </div>
              <div class="col-sm-6" *ngIf="custForm.get('ornaments').length>1">
                <button type="button" class="btn btn-danger btn-sm pull-right" title="delete ornament"
                  (click)="removeOrnamentButtonClick(i)">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </div>
            </div>

            <div class="form-group">
                    
              <label class="col-sm-2 control-label">Metal</label>
              <div class="col-sm-8">
                <label class="radio-inline">
                  <input type="radio" value="Gold" formControlName="metal">Gold
                </label>
                <label class="radio-inline">
                  <input type="radio" value="Silver" formControlName="metal">Silver
                </label>
                <span class="help-block" *ngIf="ornam.get('metal').errors?.required &&
                                                    ornam.get('metal').touched">
                  Metal is required
                </span>
              </div>
            </div>

            <div class="form-group">
      
              <label class="col-sm-2 control-label" [attr.for]="'weight'+i">
                Weight
              </label>
              <div class="col-sm-4">
                <input type="text" class="form-control" [id]="'weight'+i" formControlName="weight"
                  placeholder="In Years">
                <span class="help-block" *ngIf="ornam.get('weight').errors?.required &&
                                              ornam.get('weight').touched">
                  Weight is required
                </span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" [attr.for]="'rupees'+i">
                Rupees
              </label>
              <div class="col-sm-4">
                <input type="text" class="form-control" [id]="'rupees'+i" formControlName="rupees"
                  placeholder="In Years">
                <span class="help-block" *ngIf="ornam.get('rupees').errors?.required &&
                                        ornam.get('rupees').touched">
                  Rupees is required
                </span>
              </div>
            </div>

            <div>
              Enter the Rate of Interest: 
              <input type="number" id="ROI" [(ngModel)]="InterestRate">
              Rate of Interest is: {{InterestRate}}
            </div>

          </div>
        </div>
      </div>

      <div class="panel-footer">
        <div class="col-sm-5">
          <br>
          <br>
          <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
        </div>
      </div>
    </div>
  </div>

</form>
